body {
    margin: 0;
    padding: 0;
    background-color: #000;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#map {
    /* width: 1200px;
    height: 600px; */
    border: solid 1px white;
    cursor: move;
}