body {
    margin: 0;
    padding: 0;
    background-color: #000;
    overflow: hidden;
}

#fps-count {
    position: absolute;
    top: 20px;
    right: 20px;
    border: solid 1px white;
    padding: 8px;
    border-radius: 8px;
    background: black;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

#map {
    position: absolute;
    cursor: move;
    width:100vw;
    height:100vh;
}

#cursor {
    position: absolute;
    cursor: crosshair;
    width:100vw;
    height:100vh;
}

#toolbar {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    display: block;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

/* Hidden from the page - used to render a full-scale version of the map */
#fullscale-offscreen-map {
    display: none; 
    /* position: absolute; */
}